#app {
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    padding: 20px 40px 50px;    
    background-image: url(../assets/img/grid.svg);
    background-repeat: repeat;
    color: $purple;
}

h3 {
    font-size: 3rem;    
    font-family: 'Oswald', sans-serif;
    line-height: 1.3;
}
h4 {
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    line-height: 1.3;
}
h5 {
    font-size: 2rem;   
    line-height: 1.3;
    font-family: 'Lato', sans-serif;
}
h6 {
    font-size: 1.5rem;  
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
}
p {
    font-size: 1rem; 
    font-family: 'Oswald', sans-serif;
    line-height: 1.3;
}
.sub {
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;   
    line-height: 1.2;
    text-transform: uppercase;
    color: $pink;
    text-align: right;
}
