@include phablet {    
    .landing-nav {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    footer .logo-footer p {
        font-size: 1rem;
    }
    .login-form,
    .signup-form {
        width: 70%;
    }
    .post-title {
        margin-top: 1.5rem;
    }

    .post-title,
    .subtitle, 
    .post-body,
    .comments-div {
        padding: 0 1rem;
    }

    .comments-div {
        .comment {
            width: 47%;
        }
    }
    .share-feedback {
        width: 80%;
        margin: 20px auto 0; 
    }
}

/* TABLET (725 - 900 px) */
@include tablet {
    #app {
        padding: 20px 60px 50px;
    }
    .landing-nav {
        width: 80%; 
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .divCat,
        .divRecent {
            width: 48%;
            padding: 2rem;
        }
        .search {
            width: 75%;
            margin-top: 1.5rem;
        }
        .cta {
            width: 75%;
            margin: 1.5rem 0.3rem;
            padding: 0.6rem;
            
        }
    }
    
    .login-form,
    .signup-form {
        width: 60%;
    }
    .articles {        
        flex-direction: row;
        flex-wrap: wrap;
        .post-article {
            width: 46%;
            display: flex;
            margin: 0 0.6rem 1.25rem;
            padding-left: 0.6rem;
            border-left: 2px solid $yellow;
        }
    }
    .post-title,
    .subtitle, 
    .post-body,
    .comments-div {
        padding: 0 1.5rem;
    }
    .share-feedback {
        width: 70%;
    }
    .menu {
        width: 30%;
    }

}

/* DESKTOP (>900 px) */

@include desktop {

    .landing-nav {
        width: 80%;
        margin: 0 auto;
        .search {
            margin-top: 1rem;
        }
    }
    .login-form,
    .signup-form {
        width: 50%;
    }
    .main-categories {
        .category {
        width: 23%;
        }
    }
    .post-title,
    .subtitle, 
    .post-body,
    .comments-div {
        padding: 0 2rem;
    }
    
}