.menu {
    background-color: $pink;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    z-index: 3;
    transform: translateX(100%);
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px auto;
        a {
            padding-bottom: 5px;
            width: 130px;
            text-decoration: none;
            color: $purple;
            font-family: 'Oswald', sans-serif;
            font-size: 1.5rem;
            line-height: 1.2;
            margin: 10px auto;   
            transition: all 0.3s ease;
            &:hover {
                border-bottom: 3px solid $yellow;
            }                    
        }
    }    
}
.toggle {
    text-decoration: none;
    color: $purple;
    
    position: absolute;
    top:10px;
    right: 10px;
    z-index: 5;

    transition: transform 0.3s;
    &:hover {
        transform: rotate(90deg);
    }
}
.open {
    transform: translateX(0);
    animation: fadeInDown;
    animation-duration: 1s;
}
.rotate {
    transform: rotate(90deg);
}