.title {
    margin: 1rem auto;
    animation: fadeIn;
    animation-duration: 1s;
}
.main-categories, 
.last-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .category {
        width: 40%;
        position: relative;
        margin: 0.3rem;
        animation: fadeIn;
        animation-duration: 1s;
        img {
            width: 100%;
            transition: filter 0.3s;
        }
        .overlay {
            background-color: rgba(250,211,12,0.85);
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.3s;

            z-index: 2;

            h5 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            &:hover {
                opacity:1;
            }
        }
    }
}