.comments-div {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    h5 {
        border-bottom: 2px solid $yellow;
        text-align: left;
        width: 100%;
        margin: 20px 0;
        color: $pink;
    }
    .comment {
        width: 80%;
        text-align: left;
        margin: 5px;
        padding-left: 5px;
        border-left: 2px solid $yellow;
        h6 {
            font-size: 1.1rem;
        }
    }
}

.share-feedback {
    text-align: center;
    margin-top: 20px;
    .comment-title {
        margin-top: 5px;
        padding-bottom: 1.2rem;
    }
    .comment {
        margin-top: 5px;
        padding-bottom: 12.5rem;
    }
}

.submit-comments {
    background-color: $yellow;
    width: 100%;
    border: none;
    border-radius: 15px;
    margin: 10px 5px 20px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: $purple;
    &:hover {
        animation: headShake;
        animation-duration: 1s;
    }
}