footer {
    background-color: $pink;
    width: 100%;
    height: 50px;
    position: fixed;
    left:0;
    bottom: 0;
    display: flex;
    justify-content: space-between;

    z-index: 99;
    .logo-footer {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: color 0.3s ;
        p {
            font-size: 0.8rem;
        }
        img {
            display: block;
            margin-left: 0.3rem;
            width: 25px;
            margin-top: 5px
        }
        &:hover {
            color: $violet;
        }
    }
    .nav-footer {
        display: flex;
        align-items: center;
        a {
            display: inline-block;
            margin-right: 10px;
            color: $purple;
            transition: color 0.3s ease;
            &:last-child {
                margin-right: 20px;
            }
            &:hover {
                color: $violet;
            }

        }
    }
}