input {
    width: 100%;
    background-color: $violet;
    border: none;
    padding: 0.3rem;
    margin-right: 0.3rem;
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;  
    color: $purple;   
}
::placeholder {
    color: $purple;
}

label {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.goback-div {
    margin-bottom: 40p2.5remx;
    text-align: right;
    .goback {
        padding: 0.3rem 1rem;
        font-family: 'Oswald', sans-serif;
        font-size: 0.8rem;
        border: none;
        border-radius: 10px;
        background-color: $yellow;
        color: $purple;
        &:hover {
            animation: pulse;
            animation-duration: 1s; 
        }
    }
}

.login-form,
.signup-form {
    text-align: left;
    margin: 0.3rem auto;
    width: 80%;
    input {
        margin: 0.8rem 0;
        &:valid {
            border: 3px solid $pink;
        }
    }
}

.submit {
    background-color: $pink;
    width: 100%;
    border: none;
    border-radius: 15px;
    margin: 2rem 0;
    padding: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: $purple;
    &:hover {
        animation: headShake;
        animation-duration: 1s;
    }
}