header {
    text-align: right;
    margin-bottom: 0.5rem;
    .login {
        padding: 0.3rem 1rem;
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
        border: none;
        border-radius: 10px;
        background-color: $pink;
        color: $purple;
        transition: color 0.3s ease;
        &:hover {
            color: $violet;
        }
    }
    p {
        color: $pink;
    }
}

.hero {
    margin-bottom: 1.5rem;
    animation: fadeIn;
    animation-duration: 1s;
}

nav {
    animation: fadeIn;
    animation-duration: 1s;
    .divCat,
    .divRecent {
        border-radius: 0.3rem;
        background-color: $purple;
        color: $yellow;
        padding: 0.3rem;
        margin: 0.7rem 0.3rem;
        &:hover {
            animation: pulse;
            animation-duration: 1s;
        }
    }
    .search {
        border-left: 2px solid $yellow;
        margin-top: 1rem;
        input {
            width: 90%;
        }
        .btn-search {
            border: none;
            background-color: transparent;
            i {
                color:$purple;
            }
        }   
        .results {
            text-align: left;
            margin-top: 1rem;
            margin-left: 0.3rem;
            div {
                animation: fadeIn;
                animation-duration: 1s;
                display: flex;
                justify-content: space-between;
                p {
                    margin-bottom: 1rem;
                    span {
                        color: $yellow;
                        font-size: smaller;
                        transition: all 0.3s ease;
                        &:hover {
                            border-bottom: 2px solid $purple;
                        }
                    }
                }
            }            
        }     
    }
    .cta {
        background-color: $yellow;
        width: 100%;
        border: none;
        border-radius: 15px;
        margin: 1.5rem 0.3rem;
        padding: 0.6rem;
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        color: $purple;
        &:hover {
            animation: headShake;
            animation-duration: 1s;
        }
    }
}



