.articles {
    display: flex;
    flex-direction: column;
    text-align: left;
    .post-article {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.25rem;
        animation: backInRight;
        animation-duration: 1s;
        .text { 
            margin-bottom: 0.6rem;
        }
        .cta-post {
            background-color: $yellow;
            text-align: center;
            padding: 0.6rem;
            border-radius: 10px;
            &:hover {
                animation: pulse;
                animation-duration: 1s;
            }
        }
    }
}

.post-category {
    color: $violet;
    text-align: left;
    margin-bottom: 0.6rem;
    transition: color 0.3s ease;
    &:hover {
        color: $pink;
    }   
}

.post-title,
.subtitle, 
.post-body {
    animation: fadeIn;
    animation-duration: 1s;
}

.subtitle, 
.post-body {
    text-align: left;
    margin-top: 1.2rem;
}

.subtitle h5 {
    font-size: 1.8rem;
}
.info {
    font-size: 0.5rem;
    font-family: 'Lato', sans-serif;
    transition: all 0.3s ease;
    display: inline;
    transition: border-bottom 0.3s ease;
    &:hover {
        border-bottom: 3px solid $yellow;
    }
}
